<html lang="en">

<head>
    {{>header}}
</head>

<body class="container">
<h1 class="label-info">{{title}}</h1>
{{#entries}}
    <div class="panel panel-default">
          <div class="panel-heading">
              {{Item}}
          </div>
          <div class="panel-body">
              {{Price}}
          </div>
     </div>
{{/entries}}
</body>

</html>